extend layout
block content
    script(src='/javascripts/postGet.js')
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    #intro
      p You unlock this page with the key of your browser. Beyond it is developer - a developer of pages, a developer of databases, a developer of apps. You're moving into a website of both front-end and back-end, of things and ideas. You've just crossed over into the page of
      h1 PETER WHITE
      img(src="images/Peter_White.png" alt="" class="desaturate")

    .abouttitle
      h1 About Me

    #about
      br
      p
        | Hello. My name is Peter and I want to learn web design. I've always been technology
        a(href='pages/baby.html') oriented
        | . My father was in IT and my mother worked for Adobe so there were always a lot of computers around the house. Some dads teach their kid how to throw a fastball. Mine taught me how to overclock a
        a(href='pages/pete.html') Pentium II
        | . I went to college and got a degree in Computer Systems Technologies. But I noticed I liked the programing courses more than the networking courses. So I went back to get a degree in Computer Science. That's when I noticed I liked programing more than
        a(href='pages/college.html') college
        | . So I enrolled at
        a(href='pages/level.html') General Assembly
        |  and took a full immersion course in web development. Now I want to bring my talent and energy to a workplace that's not afraid to trade experience for enthusiasm.

    .skillstitle
      h1 My Skills

    .tree
      h1.languages Languages
      #line
      #tv
        h2 Javascript
      #line
      #tv2
        h2 Ruby
      #line
      #tv
        h2 HTML5
      #line
      #tv2
        h2 CSS
      #line
      h1.frameworks Frameworks
      #line
      #tv
        h2 Node.js
      #line
      #tv2
        h2 ExpressJS
      #line
      #tv
        h2 Angular
      #line
      #tv2
        h2 Rails
      #line
      h1.database Database Tools
      #line
      #tv
        h2 SQL
      #line
      #tv2
        h2 PostgreSQL
      #line
      #tv
        h2 ActiveRecord
      #line
      h1.testing Testing Frameworks
      #line
      #tv2
        h2 Mocha
      #line
      h1.other Other
      #line
      #tv
        h2 Git
      #line
      #tv2
        h2 GitHub
      #line
      #tv
        h2 Heroku
      #line
      #tv2
        h2 jQuery
      #line
      #tv
        h2 AJAX
      #line
      #tv2
        h2 JSON
      #line
      #tv
        h2 Bootstrap
      #line
      #tv2
        h2 Handlebars
      #line
      #tv
        h2 AndroidSDK
      #line
      #tv2
        h2 Powerpoint
      #line

    .messagetitle
      h1 Leave Your Thoughts

    .postList#postList
    br
    .postInput#postInput
      if (user)
        input#content.content(type='text', placeholder='Speak your mind.')
        br
        button#submit.submit(type='submit') Submit
      else
        h2.chandler Please login to leave a comment.

    #projects
      #glitch(data-text='My Projects') My Projects
      a(href='http://peter-white.github.io/petition_site_app/')
        img#fox(src='images/fox.png', width='30%', height='20%')
      a(href='http://peter-white.github.io/play4free-githubpages/')
        img#games(src='images/games.png', width='30%', height='20%')
