extend layout
block content

    .postList#postList

    if (user)
      if user.username === "TheMasterOfUnlocking"
        p Hello Master, I have opened for you.
      else
        p You are currently logged in as #{user.username}

      form(role='form', action="/posts", method="post", style='max-width: 1000px;')
        .form-group
          input.form-control(type='text', name="content", placeholder='Speak your mind.')
        button.btn.btn-defualt(type='submit') Submit
      br
      a(href="/logout") Logout
    else
      a(href="/login") Login
      br
      a(href="/register") Register
