extend layout
block content

    script(src='/javascripts/postController.js')

    .postList#postList

    if (user)

      if user.username === "TheMasterOfUnlocking"
        p Hello Master, I have opened for you.
        p#company.company #{user.companyName}
      else
        p#username.username #{user.username}
        p#company.company #{user.companyName}

      input#content.content(type='text', placeholder='Speak your mind.')
      button#submit.submit(type='submit') Submit
      br
      a(href="/logout") Logout
    else
      a(href="/login") Login
      br
      a(href="/register") Register
