doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='/images/ufo.ico')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap.min.css' rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="https://code.jquery.com/jquery-2.1.4.js")
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    link(href='http://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css')
    link(<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css')
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  body
    header
        #zone(onClick="location.href='http://localhost:3000'")
          img(src='./images/spiral.gif', alt='')
          h1 The White Zone
        if (user)
          script(src='/javascripts/postPost.js')
          script.
            var userName = "#{user.username}";
            var companyName = "#{user.companyName}";
            $(function(){
              $('#company').text(companyName);
              $('#username').text(userName);
            });
          #login
            p#username.username
            a(href="/logout") Logout
        else
          #login
            a(href="/login") Login
            a(href="/register") Register
    block content

    footer
      a#email(href='mailto:pwhite007@icloud.com') Email Me
      a.twitter-follow-button(href='https://twitter.com/youcannotbeatus', data-show-count='false') Follow @youcannotbeatus
      a.twitter(href='https://www.linkedin.com/pub/peter-allan-white/b0/971/275')
        img.linkedin-button(src='https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png', width='160', height='33', border='0', alt="View Peter Allan White's profile on LinkedIn")
      a#resume(href='images/Resume.docx') My Resume
