extend layout

block content

  .registercontainer
    h1 Register Page
    br
    form(role='form', action="/register", method="post", style='max-width: 300px;')
      .form-group
        lable First Name:
        br
        input.form-control(type='text', name="firstName", placeholder='First Name')
      .form-group
        lable Last Name:
        br
        input.form-control(type='text', name="lastName", placeholder='Last Name')
      .form-group
        lable Company Name:
        br
        input.form-control(type='text', name="companyName", placeholder='Company Name')
      .form-group
        lable Email Address:
        br
        input.form-control(type='text', name="emailAddress", placeholder='Email Address')
      .form-group
        lable Username:
        br
        input.form-control(type='text', name="username", placeholder='Username')
      .form-group
        lable Password:
        br
        input.form-control(type='password', name="password", placeholder='Password')
      br
      button.btn.btn-defualt(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
    br
    h4= info
